@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #3E3E42;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 10px;
}

.carousel {
  margin: 50px 0px 0px 0px;
}

.carousel__container {
  position: relative;
  overflow: hidden;
}

.carousel__item {
  display: none;
  position: relative;
  padding: 0px 0px 59% 0px;
  width: 100%;
  -webkit-animation: 0.9s ease-in-out;
          animation: 0.9s ease-in-out;
}

.carousel__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__item.active {
  display: block;
}

.carousel__item.next {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 40px 0px 40px 0px;
}

.controls__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 5px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.controls__dot:hover .controls__area {
  border: 2px solid #fff;
}

.controls__dot:hover .controls__area.active {
  background-color: #fff;
}

.controls__dot:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.controls__dot:active .controls__area {
  background-color: #fff;
}

.controls__area {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #8ead9b;
  border-radius: 50%;
}

.controls__area:active {
  border: 2px solid #fff;
}

.controls__area.active {
  background-color: #8ead9b;
}

.signature {
  position: relative;
  overflow: hidden;
}

.signature__text {
  width: 100%;
  display: none;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1.6px;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
}

.signature__text.active {
  display: block;
}

.signature__text.next {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
}

.remove-text {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
}

.show-text {
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
